@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));


@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradient 10s ease infinite;
}


@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Example of a custom styled scrollbar */
  .custom-scrollbar::-webkit-scrollbar {
    width: 0px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1; /* Tailwind bg-gray-100 equivalent */
    border-radius: 100vh;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #96efff; /* Tailwind bg-gray-500 equivalent */
    border-radius: 100vh;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555; /* Tailwind bg-gray-700 equivalent */
  }
}
